#introduce h{
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
    color: grey;
    
    
}
#introduce p{
    font-size: 70px;
    font-family: 'Nanum Myeongjo', serif;
    margin: 0;
   
    
}

#career li a:link{
    color: black;
    text-decoration: underline;
}

#career li a:active{
    color: black;
    text-decoration: underline;
}
#career li a:visited{
    color: black;
    text-decoration: underline;
}

#introduce{
    margin-bottom: 10px;
}
#career{
    display: block;
    margin-top: 20px;
    font-family: 'Nanum Myeongjo', serif;
    margin-bottom: 20px;
    
    margin-left: auto;
    margin-right: auto;
    
}
#career li{
    list-style: none;
    margin-bottom: 5px;
    font-size: 13px;
}
.images img{
    width: 100%;
    margin: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}
.post{
    margin-top: 20px;
    
}

.post button{
    border: 1px solid black;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

div.feedback{
    display: flex;
    justify-content: center;
    resize: none;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    font-size: 120px;
    margin-bottom: 15px;
}
#feedback{
    font-size: 20px;
    resize: none;
}

.post .button h{
    color: white;
    font-size: 20px;
}
.post .title{
    text-align: center;
    font-size: 25px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

